{% load static %}

<link rel ="Stylesheet" type="text/css" href="{% static 'polls/index.css' %}">

{% if latest_question_list %}

<div class="container">
    <div class="box">
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        
            {% endfor %}
        </ul>
        
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
</div>
